[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
sqlalchemy = "*"
selenium = "*"
"autopep8" = "*"

[dev-packages]
pylint = "*"

[dev-packages]

[requires]
python_version = "3.6"
